@import 'styles/theme';

.guessing {
  &.body {
    margin: 0;
    padding: 0;
    font-family: $fontDefault;
    background-image: linear-gradient(135deg, $accent3 10%, $accent3 100%);
    background-size: cover;
    min-width: 55em;
    min-height:60em;
    background-position: center;
  }
  &.content-container {
    margin-top: 2em;
    margin-left: 5%;
    width: 90%;
    position: relative;
    min-width: 50em;
  }
  &.pic {
    position: absolute;
    right: 5%;
    margin-top: 50px;
    min-width: 500px;
  }
  &.players-container{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    width: 100%;
  }
  &.guessing-container{
    display: flex;
    flex-direction: row;
    width: 30%;
    right: 0px;
    margin-left: 50%;
    padding: 10px;
  }
  &.info {
    width: 130px;
    height: 130px;
    justify-content: center;
    text-align: center;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $accent2;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 45px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 30px;
    background: #D9D9D9;
    color: #000000;
    font-size: 20px;
  }
  &.label {
    color: $textColor;
    margin-bottom: 16px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    @include center;
  }
  &.container {
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  &.box-container {
    margin-top: 2em;
    flex-direction: column;
    width: 30%;
    top: 200px;
    left:68%;
    position: absolute;
  }
  &.title {
    position: absolute;
    width: 555px;
    height: 171px;
    left: 250px;
    top: 600px;

    font-family: 'Irish Grover', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    text-align: center;

    color: #000000;
  }
  &.score-list {
    list-style: none;
    padding-left: 0;
    position: relative;
    left:5%;
    width: 90%;
    min-width: 20em;
    max-width: 50em;
    top:0px;
    background: $accent2;
    border-radius: $borderRadius;
  }
  &.rank-list {
    list-style: none;
    padding-left: 0;
    position: relative;
    margin: auto;
    width: 40%;
    min-width: 20em;
    max-width: 50em;
    top:120px;
    background: $accent2;
    border-radius: $borderRadius;
  }
  &.score-container{
    margin: 0.5em 0;
    width: 100%;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0px;
    top:0px;
    position: relative;
  }
  &.line{
    position: relative;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 0px;
    border: 3px solid #ad9a66;
  }
  &.content{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    word-wrap:break-word;
  }
  &.rank-title{
    width: 50%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    align-items: center;
    text-align: center;
  }
  &.title1{
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    align-items: center;
    text-align: center;
  }
  &.li {
    position: relative;
  }
}