@import 'styles/theme';

.guessing {
  &.container {
    margin-top: 2em;
    flex-direction: column;
    width: 600px;
    top: 300px;
    left: 950px;
    position: absolute;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 30em;
    height: 10em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: rgba(181, 153, 120, 0.5);
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 45px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 30px;
    background: #D9D9D9;
    color: #000000;
    font-size: 20px;
  }
  &.label {
    color: $textColor;
    margin-bottom: 16px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    // margin-top: 2em;
  }
  &.pic {
    position: absolute;
    width: 580px;
    height: 430px;
    left: 240px;
    top: 160px;
  }
  &.info {
    width: 130px;
    height: 130px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    // left: 240px;
    // top: 160px;
  }
  &.title {
    position: absolute;
    width: 555px;
    height: 171px;
    left: 250px;
    top: 600px;

    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    text-align: center;

    color: #000000;
  }
  &.score-list {
    list-style: none;
    padding-left: 0;
    position: absolute;
    left:950px;
    top:500px;
    width: 30em;
    background: rgba(181, 153, 120, 0.5);
  }
  &.score-container{
    margin: 0.5em 0;
    width: 30em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    left: 0px;
    top:0px;
    position: relative;
    //background: black;
  }
  &.line{
    position: relative;
    width: 30em;
    height: 0px;
    left: 0px;
    top: 0px;
    border: 3px solid #ad9a66;
  }
  &.content{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
  }
  &.rank-title{
    width: 50%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    align-items: center;
    text-align: center;
  }
}