@import "styles/theme";

.header {
  &.container {
    margin-top: 0em;
    left: 0px;
    top: 0px;
    background: rgba(213, 209, 200, 0.6);
    position: absolute;
    flex-direction: column;
    width: 1650px;
  }

  &.title {
    font-weight: bold;
    color: $background;
    font-family: "Irish Grover";
    left: 40px;
    position: absolute;
    width: 555px;
    height: 171px;
    left: 60px;
    top: 40px;
    font-size: 30px;
    // animation: breathe 3s infinite;
  }

  &.instruction-container {
    display: flex;
    margin-top: 1em;
    width: flex;
  }

  &.instruction {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &.title1 {
    font-weight: bold;
    color: $background;
    font-family: "Irish Grover";
    left: 1000px;
    position: absolute;
    width: 555px;
    height: 171px;
    top: 60px;
    font-size: 20px;
  }
}
