@import "styles/theme";

.notification {
  &.c-container {
    margin-top: 2em;
    margin-left: 5%;
    width: 90%;
    position: relative;
    min-width: 50em;
    display: flex;
    flex-direction: row;
  }
  &.pic {
    position: absolute;
    right: 5%;
    margin-top: 50px;
    min-width: 500px;
  }
  &.main-container {
    position:relative;
    display:flex;
    width: 90%;
    height: 100%;
    min-height: 50em;
    top: 10%;
    flex-wrap: wrap;
  }
  &.left-container{
    // flex: 1 1 45%;
    width: 50%;
    position: relative;
    min-width: 50px;
  }
    &.right-container{
    // flex: 2 1 45%;
    min-width: 50px;
    position: relative;
    width: 50%;
  }
  
  &.container {
    margin-top: 2em;
    flex-direction: column;
    // position: absolute;
    width: 90%;
    min-width: 25em;
    border-radius: $borderRadius;
    background: rgba(181, 153, 120, 0.5);
  }
  &.button-container {
    justify-content: center;
    position: relative;
    left: 0px;
    top: 0px;
    width: 15%;
    text-align: center;
  }
  &.friends-list {
    list-style: none;
    padding-left: 0;
  }
  &.notice-container {
    margin: 0.5em 0;
    width: 100%;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    left: 0px;
    top: 0px;
    // position: relative;
    //background: rgba(181, 153, 120, 0.5);
  }
  &.line {
    position: relative;
    width: 100%;
    height: 0px;
    left: 0px;
    top: 0px;
    border: 3px solid #ad9a66;
  }
  &.content-container {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33%;
  }
  &.title-container {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    align-items: center;
    text-align: center;
    width: 33%;
  }
}
