@import "styles/theme";

.profile {
  &.container {
    // margin-top: 2em;
    margin-top: 1em;
    min-height: 30px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    height: 27em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: #b59978;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 45px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 26px;
    // background: transparentize(white, 0.85);
    background: #d9d9d9;
    color: #000000;
    font-size: 20px;
  }

  &.label {
    color: $textColor;
    margin-bottom: 12px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
  }
  // &.button-container {
  //   display: flex;
  //   justify-content: center;
  //   margin-top: 1em;
  //   background: #ffffff;
  //   border: 1px solid #000000;
  //   font-family: "Nunito";
  //   font-style: normal;
  // }
  &.img_cat_left {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 435px;
    // top: 460px;
    top: 475px;
    // position: absolute;
    // width: 56px;
    // height: 56px;
    // left: 477px;
    // top: 749px;
  }
  &.img_cat_right {
    // position: absolute;
    // width: 56px;
    // height: 56px;
    // left: 760px;
    // top: 400px;
    position: absolute;
    width: 56px;
    height: 56px;
    left: 760px;
    // top: 460px;
    top: 475px;
  }
  &.img_cat_middle {
    // position: absolute;
    width: 56px;
    height: 56px;
    left: 570px;
    top: 475px;
    position: absolute;
    // width: 150px;
    // height: 150px;
    // left: 570px;
    // top: 400px;
  }
  &.img_cat_middle1 {
    // position: absolute;
    width: 56px;
    height: 56px;
    left: 650px;
    top: 475px;
    position: absolute;
    // width: 150px;
    // height: 150px;
    // left: 570px;
    // top: 400px;
  }
  &.title {
    position: absolute;
    width: 555px;
    height: 171px;
    left: 250px;
    top: 600px;
    font-family: "Irish Grover";
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 66px;
    text-align: center;

    color: #000000;
  }
  &.fontWhite {
    width: 222px;
    height: 73px;
    left: 408px;
    top: 585px;

    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;
    /* or 44% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
  }

  /* Auto layout */
  &.button_style1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    position: absolute;
    width: 250px;
    height: 50px;
    left: 500px;
    // top: 460px;
    top: 475px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 999px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.icon {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  padding: 1px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
}

.input {
  // height: 50px;
  // box-sizing: border-box;
  // padding-left: 1.5rem;
  height: 45px;
  padding-left: 40px; //position cursor in input field after icon
  margin-left: -4px;
  border: none;
  border-radius: 0.75em;
  margin-bottom: 30px;
  // background: transparentize(white, 0.85);
  background: #d9d9d9;
  color: #000000;
  font-size: 20px;
}
