.rank {
  &.label {
    color: black;
    margin-bottom: 12px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
  }
  &.li {
    position: absolute;
    left: 600px;
    top: 110px;
  }
  &.spinner {
    position: relative;
    left: 0px;
    top: 0px;
  }
  &.gif {
    width: 150px;
    height: auto;
    position: absolute;
    left: 900px;
    top: 80px;
  }
  &.gif1 {
    width: 150px;
    height: auto;
    position: absolute;
    left: 800px;
    top: 70px;
  }
}
