@import 'styles/theme';

.rules {
  &.content-container {
    margin-top: 2em;
    margin-left: 5%;
    width: 90%;
    position: relative;
    min-width: 50em;
  }
  &.container {
    margin-top: 2em;
    margin-left: 10%;
    width: 80%;
    position: absolute;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: rgba(181, 153, 120, 0.5);
    box-shadow: $dropShadow;
    margin-bottom: 50px;
  }
  &.pic-container {
    position: absolute;
    right: 5%;
    margin-top: 50px;
    min-width: 500px;
  }
  &.title {
    position: relative;
    width: flex;
    height: flex;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 66px;
    text-align: left;
    color: black;
  }
  &.content{
    width: 100%;
    height: flex;
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 530;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    text-align: left;
    align-items: center;
    color: black;
  }
}