@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import "styles/theme";

.welcome {
  &.content-container {
    margin-top: 2em;
    margin-left: 5%;
    width: 90%;
    position: relative;
    min-width: 50em;
  }
  &.pic {
    position: absolute;
    right: 5%;
    margin-top: 50px;
    min-width: 500px;
  }
  &.title1 {
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    left: 40%;
    position: absolute;
    min-width: 200px;
    color: #000000;
  }
  &.displayWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    // margin-top: 8em;
    position: relative;
    // background-color: aqua;
  }
  &.functionName {
    color: #000000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
  }
  &.stepContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: #b59978;
    padding: 20px;
    width: 15%;
    height: flex;
    transition: transform 0.2s;
  }
  &.stepContainer:hover {
    transform: scale(1.1) rotate(-10deg);
  }
  &.functionNameWrapper {
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
  }
  &.button-container {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    left: 45%;
    width: fit-content;
  }
  &.modalContainer {
    min-height: 40px;
    flex-direction: column;
    width: 300px;
    position: absolute;
    left:45%;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include center;
  }
}
